<!-- produit-liste.component.html -->
<table>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Dispo (directive)</th>
        <th>Dispo (pipe)</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <!-- <td>{{ product.price | currency:'EUR' }}</td> -->
        <td>{{ product.price }}</td>
        <td>
            <span *ngIf="product.isInStock; else rupture">En stock</span>
            <ng-template #rupture>Rupture</ng-template>
        </td>
        <td><span>{{ product.isInStock | status }}</span></td>
        <td><button class="action-button" (click)="checkDetail(product)">Voir Detail</button></td>
        
    </tr>
    </table>
    <app-product-datail 
        *ngIf="selectedProduct" 
        [selectedProduct]="selectedProduct">
        (addToCart)="addToCart($event)"

    </app-product-datail>