<!-- produit-liste.component.html -->
<table>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Dispo (directive)</th>
        <th>Dispo (pipe)</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products" highlight>
        <td>{{ product.name }}</td>
        <!-- <td>{{ product.price | currency:'EUR' }}</td> -->
        <td>{{ product.price | currency:'EUR' }}</td>
        <td>
            <span *ngIf="product.isInStock; else rupture">En stock</span>
            <ng-template #rupture>Rupture</ng-template>
        </td>
        <td><span>{{ product.isInStock| status }}</span></td>
        <td *ngIf="product.isInStock">
            <button (click)="selectProduct(product)">Voir détails</button>
        </td>
    </tr>
</table>

<app-product-detail 
  *ngIf="selected" 
  [product]="selected" 
  (addToCart)="onAddToCart($event)">
</app-product-detail>